body {
  background: #F4F4F4;
  font-family: 'Lato' !important;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato' !important;
}

.custom-navbar {
 padding: 1em 0 1.25em 0;
}

.contain-to-grid, .top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
  background: #30373F;
}

.top-bar-section ul {
  margin-top: .5em;
}

.top-bar-section ul li:not(.has-form) a:not(.button) {
  margin: 0 .25em;
}
.top-bar-section ul li:not(.has-form) a:not(.button):hover {
  background: none;
  color: #59A1CB;
}

.top-bar-section ul li > a.button.try-theranest {
  background-color: #9dc641;
  border-color: #9dc641;
  text-shadow: 1px 1px 1px #333;
}

.top-bar-section ul li > a.button.try-theranest:hover {
  background-color: #85A95C;
   border-color: #85A95C;
}

.top-bar-section ul li > a.button.login {
  background-color: #59A1CB;
  border-color: #59A1CB;
  text-shadow: 1px 1px 1px #333;
}

.top-bar-section ul li > a.button.login:hover {
  background-color: #21bbe2;
  border-color: #21bbe2;
}

.top-bar-section .navbar-button {
  margin: 0 1em;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: none;
  color: #59A1CB;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: none;
  color: #59A1CB;
}

.footer {
  background: #30373F;
}

.footer h3 {
  color: #fff;
  padding: 1em 0;
}

.footer label.inline {
  color: #fff;
}

::-webkit-input-placeholder {
 font-size: .275rem;
 color: #777;
}
:-moz-placeholder { /* older Firefox*/
 font-size: .275rem;
 color: #777;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: .275rem;
 color: #777;
} 
:-ms-input-placeholder { 
 font-size: .275rem;
 color: #777;
}

.footer-links {
  text-align: center;
  color: #fff;
  font-weight: 100;
  margin-bottom: 1em;
}

.footer-links .copyright {
  font-size: .5em;
  margin-right: .5em;
}

.footer-links a {
  color: #59A1CB;
  font-size: .5em;
  font-weight: 100;
  margin: 0 .5em;
}

.footer .button.expand {
  background: #59A1CB;
  margin-bottom: 3em;
}

.footer .button.expand:hover {
  background: #21bbe2;
}

.footer .row hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(103, 108, 114, 0.3);
}

.footer .socmed {
  padding: 0 0 .5em .5em;
}

/* Icons
-------------------------------------------------- */

.i_facebook, 
.i_twitter {
  background: url('../img/icons.png') no-repeat;
  display: inline-block;
}
.i_facebook {
  background-position: 0 -401px ;
  width: 18px;
  height: 24px;
}

.i_facebook:hover {
  background-position: -18px -401px;
  width: 18px;
  height: 24px;
}
.i_twitter {
  background-position: 0 -351px ;
  width: 24px;
  height: 18px;
}

.i_twitter:hover {
  background-position: 0 -327px ;
  width: 24px;
  height: 18px;
}

/* Social icons
-------------------------------------------------- */
i.social {
  background: url('../img/social_icons.png') no-repeat 0 0;
  width: 33px;
  height: 33px;
  display: inline-block;
}
i.tw { background-position: 0px 0px; }
i.fb { background-position: -39px 0; }


/* IE9 FIXES --> */
/* Placeholder style for browsers that doesn't support placeholder (e.g. IE9) */
.placeholder {
    color: #aaa !important;
}

/* IE9 FIXES <-- */

.social-media-container ul {
  position: relative;
  top: -39px;
  right: -84px;
  list-style-type: none;
}

.social-media-container ul li {
  display: inline;
  float: left;
  margin: 0 .5em 0 0;
}

.social-media-container ul li.social-tw {
  margin-top: .2em;
}

.footer .social-media {
  padding: 0;
  margin-left: .65em;
}

.custom-panel {
  margin: 0 0 2em 0;
  padding: 2.5em 0 2em 0;
  color: #fff;
  background: #6A7A8B;
}

.custom-panel h2 {
  color: #fff;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #333;
}

.custom-panel .try-theranest {
  background-color: #9dc641;
  font-weight: bold;
  margin-top: .5em;
  text-shadow: 1px 1px 1px #333;
}

.custom-panel .try-theranest:hover {
  background-color: #89AC39;
}

.pricing-pitch {
  text-align: center;
}

.pricing-pitch h1 {
  font-size: 250%;
  font-weight: bold;
  margin: 1em 0 1.5em;
}

.pricing-pitch .simple-pricing {
  display: inline-block;
  margin-right: .5em;
}

.archive-clients p {
  font-size: 80%;
  font-style: italic;
  font-weight: 300;
}

.pricing-questions {
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}
.pricing-questions h3 {
  font-size: 200%;
}

.faq {
  margin-bottom: 2em;
}

.pricing-matrix .pricing-panel {
  padding: 0;
  padding-bottom: 2em;
  margin-bottom: 2em;
  background: #fff;
}

.pricing-matrix .pricing-panel p {
  font-size: 125%;
  font-weight: 100;
}

.pricing-matrix .pricing-panel h5 {
  color: #fff;
  background: #30373F;
  padding: 1em;
}

.pricing-matrix .pricing-panel ul {
  list-style-type: none;
}

.pricing-matrix .pricing-panel ul li {
  font-weight: 100;
  font-size: 125%;
  display: inline-block;
  width: 33%;
}

.pricing-grid table {
  width: 100%;
  border-spacing: 0;
}

.pricing-grid table th {
  text-align: center;
  background: #30373F;
  color: #fff;
  font-weight: bold;
  font-size: 125%;
  padding: 1em .5em;
  text-shadow: 1px 1px 1px #333;
}

.pricing-grid table td {
  font-size: 1em;
}

.pricing-grid table th.no-resize {
  text-align: center;
  background: #30373F;
  color: #fff;
  font-weight: bold;
  font-size: 100%;
  padding: 1em 0;
}

.pricing-grid table .cntr {
  text-align: center;
}

.pricing-grid table i {
  font-size: 200%;
  color: green;
}

.pricing-grid table td.checked-feature {
  text-align: center;
}

.pricing-grid .annual-savings {
  font-weight: bold;
}

.pricing-grid .annual-savings td {
  font-size: 1em;
  color: orange;
}

.pricing-grid .annual-savings td.no-bold {
  font-weight: normal;
  font-size: 85%;
}

.pricing-grid .button {
  background-color: #9dc641;
  border-color: #9dc641;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #333;
  font-weight: bold;
}

.pricing-grid .button:hover {
  background-color: #85A95C;
   border-color: #85A95C;
}

.compare-modal-trigger {
  display: inline-block;
  float: right;
  margin: -.5em .5em 2em 0;
  font-size: 80%;
}
